
  .navBar {
    border-bottom: 1px solid black;
    height: 8%;
    position: sticky;
    top: 0%;
    background: #fff;
    z-index: 999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  
  .navBar h2 {
    cursor: pointer;
  }
  .navBar h2:hover {
    transform: scale(1.2);
    transition: 0.2s transform;
  }
  
  #logo {
    width: 183px;
    height: 55px;
    cursor: pointer;
  }
  
  
  .hidden {
    display: none;
  }
  
  .prevnext {
    position: absolute;
    width: 50%;
    height: 100%;
    top: 0%;
    color: #fff;
    margin: 0 auto;
    display: flex;
  }
  
  #next {
    color: black;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }
  
  #prev {
    color: black;
    width: 100%;
    height: 100%;
    border: 0;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
  }
  
  #prev:focus,
  #next:focus {
    outline: none;
  }
  
  #prev:hover:after,
  #next:hover:after {
    opacity: 1;
  }
  
  
  
  #prev:after,
  #next:after {
    opacity: 0.2;
    transition: opacity 0.3s ease;
  }

  .detail_produit {
    height: 100vh;
    display: flex;
  }
  
  .slider_img {
    width: 500px;
    border: 1px solid black;
  }


  .left_slide {
    height: 92vh;
    width: 303px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }

  .slide {
    width: 1000px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  #left_img01 {
    border: 1px solid black;
  }
  
  #left_img02 {
    border: 1px solid black;
  }
  
  #left_img03 {
    border: 1px solid black;
  }

  .detail {
    width: 620px;
    display: flex;
    align-items: center;
    text-align: start;
    height: 92vh;
  }
  